@model Todo


<div class="container">
    <div class="well">
        <div class="media">

            <div class="media-body">
                <table border="0" class="table">
                    <thead>
                        <tr>
                            <th>Bane</th>
                            <th>Created</th>
                            <th>IsComplete</th>
                            <th>By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Name</td>
                            <td>@Model.CreatedAt</td>
                            @if (Model.IsComplete)
                            {
                                <td>
                                    <a href="#" class="btn btn-success btn-sm active">
                                        <span class="glyphicon glyphicon-ok"></span>
                                </td>}
                            else
                            {
                                <td>
                                    <a href="#" class="btn btn-danger btn-sm active">
                                        <span class="glyphicon glyphicon-remove"></span>
                                </td>}

                            <td>@Html.ActionLink((string)ViewBag.Owner.Name, "Index", "User", new { id = (int)ViewBag.Owner.Id })</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
